<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>标题</title>
    <link rel="stylesheet" href="../styles/popup.css" />
  </head>
  <body>
    <div class="info">
      <div class='line' id="search">
        <img class='icon' src="../assets/search.png" />
        <p>菜单1</p>
      </div>
      <div class='line' id="merge">
        <img class='icon' src="../assets/merge.png" />
        <p>菜单2</p>
      </div>
      <div class='line' id="update">
        <img class='icon' src="../assets/update.png" />
        <p>检查更新</p>
        <i style="display: none;" id="hasNewVersion"></i>
      </div>
    </div>
  </body>
</html>
