test/
log/
output/
.idea/
.vscode/
~lib
.idea
logs
*.log
npm-debug.log*
node_modules
.DS_Store
node_modules/*
.vscode/
/output
/dist
/ajx_modules
/log
.lintResFile.txt
package-lock.json
lib/
bin/
include/
build/
/dest/**
